	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/01/2020 09:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-left-chevron:before { content: "\f100"; }
.flaticon-right-chevron:before { content: "\f101"; }
.flaticon-sprout:before { content: "\f102"; }
.flaticon-envelope:before { content: "\f103"; }
.flaticon-garden:before { content: "\f104"; }
.flaticon-placeholder:before { content: "\f105"; }
.flaticon-sprout-1:before { content: "\f106"; }
.flaticon-arrow-1:before { content: "\f107"; }
.flaticon-right-arrow:before { content: "\f107"; }
.flaticon-left:before { content: "\f108"; }
.flaticon-lawn-mower:before { content: "\f109"; }
.flaticon-placeholder-1:before { content: "\f10a"; }
.flaticon-telephone-1:before { content: "\f10b"; }
.flaticon-selection:before { content: "\f10c"; }
.flaticon-area:before { content: "\f10d"; }
.flaticon-field:before { content: "\f10e"; }
.flaticon-agriculture:before { content: "\f10f"; }
.flaticon-water-well:before { content: "\f110"; }
.flaticon-cannabis:before { content: "\f111"; }
.flaticon-arrows:before { content: "\f112"; }
.flaticon-fence:before { content: "\f113"; }
.flaticon-up-arrow:before { content: "\f114"; }
.flaticon-desert:before { content: "\f115"; }